.overlay {
	display: flex;
	align-items: center;
	justify-content: center;
 
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	visibility: hidden;
	background: rgb(0 0 0 / 70%);
	opacity: 0;
	transition: opacity 100ms;
	padding: 1rem;
}

.popup {
	position: relative;
	max-width: fit-content;
	padding: 2rem;
	background: #12202b;
	border-radius: 2rem;
	transition: all 1s ease-in-out;

	@media screen and (max-width: 1024px) {
		max-width: 100%;
		max-height: 98vh;
		padding: 1rem;
		margin: 10px;
		overflow-y: scroll;
	}
}

.popup .close {
	position: absolute;
	top: 1rem;
	right: 2rem;
	font-size: 30px;
	color: #fff;
	text-decoration: none;
	transition: all 100ms;

	@media screen and (max-width: 1024px) {
		top: 0.75rem;
		right: 2rem;
		z-index: 9;
	}
}

.popup .close:hover {
	color: #000;
	cursor: pointer;
}

.popup .content {
	max-height: 30%;
	overflow: auto;
}
