.steamDeckWrapper {
	height: calc(100vh - 100px);
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	align-items: stretch;
	padding: 0 2rem 2rem;
	@media screen and (max-width: 768px) {
		height: 100%;
	}
}
